/* src/styles/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(114, 114, 243, 0.5); 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the navbar is always on top */
  box-sizing: border-box;
  transition: top 0.3s; /* Smooth transition */
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center; /* Ensure all items are aligned in the center */
}

.navbar-links a,
.navbar-links button {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  transition: color 0.2s;
  background: none; /* Ensure transparent background */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-links a:hover,
.navbar-links button:hover {
  color: #ddd;
}

.navbar-links img {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  border-radius: 50%; /* Circular profile icon */
}

.navbar.visible {
  top: 0; /* Show the navbar */
}

.navbar.hidden {
  top: -60px; /* Hide the navbar, adjust according to your navbar height */
}

body {
  margin: 0; /* Remove default margin */
  padding-top: 60px; /* Add padding to prevent content overlap with navbar */
  box-sizing: border-box;
}

/* Profile icon and dropdown */
.profile-wrapper {
  position: relative;
  display: inline-block;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove default padding */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* Adjusted for better alignment */
  background-color: rgba(255, 255, 255, 0.9); /* Slightly less transparent for better readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1000; /* Ensure it appears above other content */
  width: 150px; /* Increased width for better button fit */
  display: flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
  font-family: 'Poppins', sans-serif;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.profile-wrapper:hover .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu button {
  background-color: rgba(114, 114, 243, 0.5);
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center; /* Center text */
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
  color: #333;
}
